@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-accent: #2614c7;
  --color-primary: #000;
  --color-button: #3d486c;
  --color-paragraph: #797979;
  --color-button-text: rgb(255, 255, 255);
  --color-background: #fff;
  --color-anchor: #000aff;
}

[data-theme='dark'] {
  --color-primary-accent: #00ff4c;
  --color-primary: #fff;
  --color-button: #00ff4c;
  --color-paragraph: #8a8a8a;
  --color-button-text: rgb(0, 0, 0);
  --color-background: #000;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 버튼과 바디 등 필요한 변수들을 설정해줌으로써 값 지정해주기  */
button{
  background-color: var(--color-background);
  color: var(--color-primary);
}

body{
  overflow: scroll;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-primary);
  transition: 0.3s ease;
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}
